.new-friend {
  background-color: #deeefd;
  display: flex;
  align-items: center;
  padding: 10px;
  height: auto;

  h1,
  h2,
  h3 {
    margin: 0;
  }

  &__photo {
    height: auto;
    margin-right: 20px;
    width: 20%;
    line-height: 0;

    &-image {
      width: 100%;
      margin: 0;
    }
  }
  &__actions {
    &-text {
      padding: 10px 0;
    }

    &-buttons {
      margin-top: 10px;
      .no {
        margin-left: 10px;
      }
    }
  }
}
