.profile-content {
  display: flex;
  padding: 40px 0 20px 0;
  align-items: center;

  &__img {
    margin-right: 20px;
    max-width: 120px;
  }

  &__text {
    font-weight: bold;
    &__username,
    &__carrer {
      font-weight: 300;
    }
    &__title {
      margin: 0px 0px 20px 0px;
    }
  }
}
