.profile-content {
  display: flex;
  padding: 40px 0 20px 0;
  align-items: center;
  justify-content: space-between;

  &__infos {
    display: flex;
  }

  &__img {
    margin-right: 20px;
    max-width: 180px;
  }

  &__text {
    font-weight: bold;
    &__username,
    &__carrer {
      font-weight: 300;
    }
    &__title {
      margin: 0px 0px 20px 0px;
    }
  }

  &__inputs {
    gap: 16px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 32px;
  }
  &__logoff {
    border: 1px solid #e45454;
    color: #e45454;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 8px;
    background-color: transparent;
  }
  &__input {
    width: calc(50% - 8px);
  }
}

.profile-data {
  padding-top: 24px;
  &__content {
    padding-top: 48px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 12px;
  }

  &__column {
    width: 100%;
    gap: 12px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 20px;
  }

  &__content-wrapper {
    box-shadow: 2px 8px 16px 0 rgb(24 50 115 / 14%);
    width: 100%;
    padding: 12px;
    margin-bottom: 12px;
  }
}
