.logo {
  display: flex;
  align-items: center;

  &__wrapper {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__image {
    width: 80px;
  }


  &__title {
    font-size: 28px;
    font-weight: bold;
    margin-left: 12px;
    background: -webkit-linear-gradient(#ffd600, #efb506);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  }
}