.layout-app {
  background-color: #e5e5e5;
  min-height: 100vh;

  &.welcome-template {
    padding-left: 532px;

    .container {
      max-width: 660px;
    }
  }

  &:not(.welcome-template) {
    padding-left: 172px;
  }
}
body {
  background-color: #d4dded;
}
