.layout-app {
  background-color: #E5E5E5;
  min-height: 100vh;
  
  &.welcome-template {
    padding-left: 532px;

    .container {
      max-width: 660px;
    }
  }

  &:not(.welcome-template) {
    padding-left: 172px;
  }
}