.header {
  box-shadow: 2px 8px 16px 0 rgba(24, 50, 115, 0.06);
  padding: 12px 0;
  background-color: #779dcd;

  &__content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
  }

  &__search {
    width: 100%;

    *:focus + * {
      color: red;
      background: red;
      border-color: red;
    }
  }

  &__menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 60px;
  }

  &__logo-link {
    text-decoration: none;
  }

  &__link {
    color: rgba(18, 30, 72, 0.5);
    text-decoration: none;
    cursor: pointer;
    position: relative;
    font-weight: bold;
    font-size: 17px;

    &--actived {
      color: rgba(18, 30, 72, 0.8);
      border-bottom: 2px solid #ec1b90;
    }
  }

  &__link-icon {
    margin-right: 8px;
  }
}
